<div class="checkout_form__row">
    <input type="text" name="creditCard" id="creditCard" data-bluesnap="encryptedCreditCard" class="form__textfield" placeholder="Card Number" />
</div>
<div class="checkout_form__row3">
    <div class="input">
        <input type="text" name="exp-month" id="exp-month" size="2" class="form__textfield" placeholder="MM" />
    </div>
    <div class="input">
        <input type="text" name="exp-year" id="exp-year" size="4" class="form__textfield" placeholder="YYYY" />
    </div>
    <div class="input">
        <input type="text" name="cvv" id="cvv" size="4" data-bluesnap="encryptedCvv" class="form__textfield" placeholder="CVC" />
        <div class="cvcinfo">
            ?
            <span>3-4 digit Security Code usually displayed on backside of credit card</span>
        </div>
    </div>
</div>