
@{
    ViewBag.Title = "IPay88ResponseUrl";
}
<h3>Teeyoot Response Page</h3>
<hr />
<h2>@ViewBag.Error</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    setTimeout(function () {
        document.location = "/";
    }, 5000);
</script>
